body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(32, 19, 44);
	text-align: center;
	color: beige;
}
nav {
	display: flex;
	flex-direction: column;
}
nav h1 {
	font-size: 4rem;
	margin-bottom: 15px;
}
nav button {
	padding: 5px 15px;
	border-radius: 20px;
	background-color: transparent;
	color: beige;
	border: 1px solid gray;
}
