body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(32, 19, 44);
	text-align: center;
	color: beige;
}
.app {
	min-height: 100vh;
	width: 986px;
	margin: 0 auto;
	/* background-color: #fff; */
}
nav {
	display: flex;
	flex-direction: column;
}
nav h1 {
	font-size: 4rem;
	margin-bottom: 15px;
}
nav .btn-container {
	padding: 2px 0;
}
nav button {
	padding: 5px 25px;
	border-radius: 20px;
	background-color: transparent;
	color: beige;
	margin: 1rem 1rem;
	border: 1px solid gray;
}
nav button:hover {
	background-color: #fff;
	color: black;
	transform: scale(1.1);
	border: 1px solid black;
}
